@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #d7a6b3;
  --background-color: #d8d8d8;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}
.bg {
  background-image: url(./assets//bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box {
  box-shadow: 8px 8px 6px #1330a4, -8px -8px 6px #1330a4;
}
.input_flied {
  border-radius: 5px;
  background: #ffffff;
  padding: 8px 35px;
  box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.error {
  box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
